<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>FilterDispatcher</filter-name>
        <filter-class>minh.filters.FilterDispatcher</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>FilterDispatcher</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>SearchUserController</servlet-name>
        <servlet-class>minh.controllers.SearchUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateUserController</servlet-name>
        <servlet-class>minh.controllers.UpdateUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>minh.controllers.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetUsersController</servlet-name>
        <servlet-class>minh.controllers.GetUsersController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteUserController</servlet-name>
        <servlet-class>minh.controllers.DeleteUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetUserProfileController</servlet-name>
        <servlet-class>minh.controllers.GetUserProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PromoteUserController</servlet-name>
        <servlet-class>minh.controllers.PromoteUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetPromotionListController</servlet-name>
        <servlet-class>minh.controllers.GetPromotionListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterUserController</servlet-name>
        <servlet-class>minh.controllers.RegisterUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DemoteUserController</servlet-name>
        <servlet-class>minh.controllers.DemoteUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateRankController</servlet-name>
        <servlet-class>minh.controllers.UpdateRankController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SearchUserController</servlet-name>
        <url-pattern>/SearchUserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateUserController</servlet-name>
        <url-pattern>/UpdateUserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/LogoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetUsersController</servlet-name>
        <url-pattern>/GetUsersController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteUserController</servlet-name>
        <url-pattern>/DeleteUserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetUserProfileController</servlet-name>
        <url-pattern>/GetUserProfileController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PromoteUserController</servlet-name>
        <url-pattern>/PromoteUserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetPromotionListController</servlet-name>
        <url-pattern>/GetPromotionListController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterUserController</servlet-name>
        <url-pattern>/RegisterUserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DemoteUserController</servlet-name>
        <url-pattern>/DemoteUserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateRankController</servlet-name>
        <url-pattern>/UpdateRankController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <resource-ref>
        <res-ref-name>UserManagement</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
    <dependency>
        <groupId>commons-codec</groupId>
        <artifactId>commons-codec</artifactId>
        <version>1.12</version>
    </dependency>
</web-app>
